.post-content img {
  /*border: 1px solid #535358;*/
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
}
.post-thumbnail img {
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
}

.taglist a {
  //border: 1px solid $gray-dark;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 10px 0.75em 0;
  padding: 0.4em 20px;
  -webkit-transition: .3s;
  transition: .3s;
  background: $gray-darkest;
}

.taglist a:hover {
  //border-color: $color-accent;
  background: $color-accent;
  color: $gray-dark;
}

fieldset {
  border: none;
}